/Release
/test_cooke/x64
/test_cooke/Debug
/x64
/Debug
/_UpgradeReport_Files
/ipch
/.stacks
.vs/*
*~
*.suo
*.*sdf
*scc
/qtgen
moc_*.cpp
qrc_*.cpp
ui_*.h
imagine.VC.db
imagine.VC.VC.opendb
/x64/Debug
Imagine/x64
Imagine/scripts/*.bin
Imagine/scripts/*.json
Imagine/scripts/*.cam
Imagine/scripts/*.imagine
Imagine/scripts/*.stim
Imagine/Debug
*.ui.*
Imagine/scripts/documentation/*.qch
Imagine/scripts/documentation/*.qhc
Imagine/scripts/testfiles/*
Imagine/.vs/*