/Release
/test_cooke/x64
/test_cooke/Debug
/x64
/Debug
/_UpgradeReport_Files
/ipch
/.stacks
*~
*.suo
*.*sdf
*scc
/qtgen
moc_*.cpp
qrc_imagine.cpp
ui_imagine.h
imagine.VC.db
Imagine/Imagine.vcxproj.user
/x64/Debug